<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>
      Venta casa por casa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" color="dark" (click)="irProductos()">Productos</ion-button>
    <ion-button expand="block" color="dark" (click)="irClientes()">Clientes</ion-button>
    <ion-button expand="block" color="dark" (click)="irVenta()">Venta</ion-button>
  </div>
</ion-content>