<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="item.nombre"></ion-input>
      </ion-item>
    <ion-item>
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input [(ngModel)]="item.direccion"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input type="number" [(ngModel)]="item.telefono"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input [(ngModel)]="item.correo"></ion-input>
    </ion-item>
    
    
    <ion-button expand="block" fill="outline" (click)="actualizarProducto(item)">Actualizar</ion-button>
    <ion-button expand="block" fill="outline" (click)="eliminarProducto(item.id)">Eliminar</ion-button>
    <ion-button expand="block" fill="outline" (click)="regresar()">Regresar</ion-button>
</div>
</ion-content>