<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://image.freepik.com/vector-gratis/diseno-logotipo-supermercado-lema-tienda_23-2148458443.jpg"></ion-img>
  <ion-item>
    <ion-label position="stacked">Tienda</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Constraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="entrar()">Entrar</ion-button>
  <ion-button expand="block" color="dark" (click)="irRegistro()">Registrar</ion-button>
  
</ion-content>