<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Registrar tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre de la tienda</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nombre del dueño</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Constraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="agregarTienda()">Registrar</ion-button>
</ion-content>
